@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

$bg-primary: #59bdee;
$btn-hover: #4a99c0;

.main-img {
    width: 100%;
}

.align-title-center {
    display: flex;
}

.centered {
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -343%);
}

.centered-below {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-56%, -50%);
}


.centered-btn {
    position: absolute;
    top: 200%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.company-tag {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.company-name {
    font-size: 52px;
    color: white;
    font-family: 'Roboto Condensed';
}

.company-btn {
    font-weight: bold;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: 233px;
    border-radius: 8px;
    text-shadow: 2px 2px black;
    background-color: $bg-primary;
}

.company-btn:hover {
    background-color: $btn-hover;
}



// @media only screen and (max-width:1198px){
//     .centered {
//         position: relative;
//         top: 36%;
//         left: 53%;
//         transform: translate(-50%, -266%);
//     }



// }

@media only screen and (max-width:1198px) {

    .company-name {
        font-size: 38px;
        color: white;
        font-family: 'Roboto Condensed';
        margin-bottom: 21px;
    }

    .company-tag {
        font-size: 11px;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }

    .company-btn {
        width: 256px;
        font-weight: 700;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: -35px -17px;
        border-radius: 8px;
        background-color: #59bdee;
    }

    .centered {
        position: relative;
        top: 12%;
        left: 53%;
        transform: translate(-50%, -306%);
    }
}

@media only screen and (max-width:968px) {
    .centered {
        position: relative;
        top: 12%;
        left: 53%;
        transform: translate(-50%, -193%);
    }
}


@media only screen and (max-width:540px) {
    .centered {
        position: relative;
        top: 12%;
        left: 53%;
        transform: translate(-50%, -193%);
    }
}

@media only screen and (max-width:480px) {

    .company-name {
        font-size: 22px;

    }

    .centered {
        position: relative;
        top: 15%;
        left: 53%;
        transform: translate(-50%, -202%);
    }
}

@media only screen and (max-width:360px) {

    .centered {
        position: relative;
        top: 15%;
        left: 53%;
        transform: translate(-50%, -198%);
    }

    .company-name {
        font-size: 22px;
        color: white;
        font-family: 'Roboto Condensed';
        margin-bottom: 21px;
    }

    .company-tag {
        font-size: 11px;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }

}