$bg-primary: #59bdee;
$btn-hover: #4a99c0;

.main-img {
    width: 100%;
}

.align-title-center {
    display: flex;
}

.centered {
    position: relative;
    top: 33%;
    left: 55%;
    transform: translate(-50%, -343%);
}

.centered-below {
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translate(-56%, -50%);
}


.centered-btn {
    position: absolute;
    top: 200%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.company-tag {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.company-name {
    font-size: 52px;
    color: white;
    font-family: 'Roboto Condensed';
}

.company-btn {
    font-weight: bold;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: 264px;
    border-radius: 8px;
    text-shadow: 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 1px 0 #000, 0px 1px 0 #000;
    background-color: #59bdee;
    font-family: 'Roboto', sans-serif;
}

.company-btn:hover {
    background-color: $btn-hover;
}

@media only screen and (max-width:1024px) {

    .company-name {
        font-size: 38px;
        color: white;
        font-family: 'Roboto Condensed';
        margin-bottom: 21px;
    }

    .company-tag {
        font-size: 11px;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }

    .company-btn {
        width: 224px;
        font-weight: 700;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: -35px -17px;
        border-radius: 8px;
        background-color: #59bdee;
    }

    .centered {
        position: relative;
        top: 12%;
        left: 53%;
        transform: translate(-50%, -306%);
    }
}


@media only screen and (max-width:540px) {
    .centered {
        position: relative;
        top: 12%;
        left: 53%;
        transform: translate(-50%, -193%);
    }
}

@media only screen and (max-width:480px) {

    .company-name {
        font-size: 22px;

    }

    .centered {
        position: relative;
        top: 15%;
        left: 53%;
        transform: translate(-50%, -202%);
    }
}

@media only screen and (max-width:360px) {

    .centered {
        position: relative;
        top: 15%;
        left: 53%;
        transform: translate(-50%, -198%);
    }

    .company-name {
        font-size: 22px;
        color: white;
        font-family: 'Roboto Condensed';
        margin-bottom: 21px;
    }

    .company-tag {
        font-size: 11px;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }

}