




// .footer_bg {


//     background-color: #59BDEE !important;
// }


// .copyright{ font-size: 10px;  color: rgb(89, 129, 150) !important; text-decoration: none; background-color: transparent;}
    
    
//  a { color: rgb(89, 129, 150) !important; text-decoration: none; background-color: transparent; }


// .insta-icon{
//    font-size:30px !important;

// }
// .footer-email{
//     font-size:5vw;
// }