html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.footer_bg {


    background-color: #59BDEE !important;
}


.copyright {
    font-size: 10px;
    color: rgb(89, 129, 150) !important;
    text-decoration: none;
    background-color: transparent;
}


a {
    color: rgb(89, 129, 150) !important;
    text-decoration: none;
    background-color: transparent;
}


.insta-icon {
    font-size: 20px !important;
    color: black !important;

}

.footer-email {
    font-size: 15.5px;
}