@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
$font-size-base: 0.9rem !default; 
$font-family-sans-serif:  "Expletus", Helvetica, Arial, sans-serif !default;
$bg-secondary: #F9F8FD;
$bg-primary: #59bdee;
$dark-black: #31374D;
$white-color: #FFFF;

body {
    font-family: "Expletus";
}

.navbar-light .navbar-nav .nav-link {
    font-size: 17px;
    color: white;
}

// .nav-item .active{
//     border-bottom: 2px solid #B47EB3;
   
// }

.nav-top{
    background-color: white;
    opacity: .95;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: $bg-primary;
}

.nav-title{
    color:white !important;
}

.bg-dark{
    background-color: black !important;
}

.oblique-text {
    font-style: oblique;
    font-size: 20px;
}

.primary-color{
    color: #59bdee;
}

.bg-primary {
    background-color: $bg-primary!important;
}
#modal-textarea {
    height: 150px;
}
.btn-secondary {
    color: #000;
    background-color: #FFFF;
}

.ken-logo{
    width: 30px;

    margin-bottom: 10px;
}

.navbar-toggler {
    background-color:white !important;
}



.navbar-nav .nav-link{
    text-align: center;
}





.painter-img {
    margin-left: -250px;

    @media only screen and (max-width:1198px){
        display: none;
        
    }
}

@media only screen and (max-width:768px) {

    .ken-logo{
        width: 30px;
   
        margin-bottom: 10px;
    }
    .nav-title{
        color:white !important;
        font-size: 15.5px !important;
    }
    
}
@media screen and (max-width: 450px) and (min-width: 450px){}
