$bg-primary: #59bdee;

.about-page {
    background-color: black;
}

.about-title {
    color: white;
    
}

.about-text {
    color: white;
    font-size: 2vw;
}

.gallery-row {
    margin-bottom: 50px;
}

.image-container .img-description {
    position: absolute;
    top: 0;
    height: 257px;
    max-width: 107px;
    display: none;
    opacity: .8;
    font-size: 30px;
    border-radius: 1%;
    height: -webkit-fill-available;
}

.img-gallery span {

    position: relative;
    margin-top: 46px;
    color: #FFF;
    font-size: 7px;
    display: inline-block;
    padding: 0px 13px;

}

.image-container:hover {
    border: 1px solid;
    padding: 0px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px 2px $bg-primary;
}

@media only screen and (min-width:1277px) {
    // .about-text {
    //     color: white;
    //     font-size: 23px;
    // }

    // .text-center {
    //     text-align: center;
    // }
}

@media only screen and (max-width:767px) {
    .about-text { 
        font-size: 20px; 
        text-align: center; 
        width: auto; 
        padding: 0 20px;
    }
    .about-title{
        text-align: center;
        font-size: 2rem;
    }

    #second {
        order: 2!important;
    }
    #first {
        order: 1!important;
        margin: 0 25px;
     }
    }